---
import colSpan6RowSpan4Left from "@/assets/col-span-6-row-span-4-left.png";
import colSpan6RowSpan4Right from "@/assets/col-span-6-row-span-4-right.png";
import gremlinEyesOpenRight from "@/assets/gremlin-01-eyes-open.png";
import gremlinEyesShutRight from "@/assets/gremlin-01-eyes-shut.png";
import gremlinEyesOpen from "@/assets/gremlin-02-eyes-open.png";
import gremlinEyesShut from "@/assets/gremlin-02-eyes-shut.png";
import { Image } from "astro:assets";

const radialGradientClass =
	"before:bg-[radial-gradient(circle,_var(--tw-gradient-stops))] from-[#e1e7fc] via-[#fc243d] via-[percentage:35%_50%] to-[#ff7de0] to-100%";

const pseudoElementClass = `${radialGradientClass} before:content-[' '] before:absolute before:-left-[2rem] before:-top-[2rem] before:h-[calc(100%+4rem)] before:w-[calc(100%+4rem)] before:rounded-full before:bg-opacity-40 before:opacity-0 before:transition-opacity before:ease-in-out hover:before:opacity-80 before:blur-lg hover:before:animate-pulse`;
---

<>
	<div class={`relative col-span-6 row-span-4 ${pseudoElementClass} group`}>
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="absolute left-0 top-0 h-full opacity-0 group-hover:opacity-100"
			loading="eager"
			src={gremlinEyesOpen}
		/>
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="absolute left-0 top-0 h-full opacity-0 transition-opacity delay-200 group-hover:opacity-100 group-hover:delay-300"
			loading="eager"
			src={gremlinEyesShut}
		/>
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="h-full"
			loading="eager"
			src={colSpan6RowSpan4Left}
		/>
	</div>
	<div class={`relative col-span-6 row-span-4 ${pseudoElementClass} group`}>
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="absolute left-0 top-0 h-full opacity-0 group-hover:opacity-100"
			loading="eager"
			src={gremlinEyesOpenRight}
		/>
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="duration-750 absolute left-0 top-0 h-full opacity-0 transition-opacity delay-300 group-hover:opacity-100"
			loading="eager"
			src={gremlinEyesShutRight}
		/>
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="h-full"
			loading="eager"
			src={colSpan6RowSpan4Right}
		/>
	</div>
</>
