---
import colSpan1RowSpan2 from "@/assets/col-span-1-row-span-2.png";
import colSpan4RowSpan1 from "@/assets/col-span-4-row-span-1.png";
import colSpan8RowSpan1Bottom from "@/assets/col-span-8-row-span-1-bottom.png";
import colSpan11RowSpan2 from "@/assets/col-span-11-row-span-2.png";
import gremlinEyesShut from "@/assets/combined-eyes-closed.png";
import gremlinEyesHalfOpen from "@/assets/combined-eyes-half-open-01.png";
import gremlinEyesOpen from "@/assets/combined-eyes-open.png";
import { Image } from "astro:assets";

const radialGradientClass =
	"before:bg-[radial-gradient(circle,_var(--tw-gradient-stops))] from-[#e1e7fc] via-[#deff00] to-[#fe6abd] to-100%";

const pseudoElementClass = `${radialGradientClass} before:content-[' '] before:duration-750 before:absolute before:-left-[2rem] before:-top-[2rem] before:h-[calc(100%+4rem)] before:w-[calc(100%+4rem)] before:rounded-full before:opacity-0 before:transition-opacity before:delay-75 before:ease-in-out hover:before:opacity-80 before:blur-lg`;
---

<>
	<div class={`col-span-11 row-span-2 relative group ${pseudoElementClass}`}>
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="absolute left-0 top-0 h-full opacity-0 group-hover:opacity-100"
			loading="eager"
			src={gremlinEyesOpen}
		/>
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="absolute left-0 top-0 h-full opacity-0 transition-opacity delay-300 group-hover:opacity-100"
			loading="eager"
			src={gremlinEyesHalfOpen}
		/>
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="absolute left-0 top-0 h-full opacity-0 transition-opacity delay-[1050ms] group-hover:opacity-100"
			loading="eager"
			src={gremlinEyesShut}
		/>
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="h-full"
			loading="eager"
			src={colSpan11RowSpan2}
		/>
	</div>

	<div class="col-span-1 row-span-2">
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="h-full"
			loading="eager"
			src={colSpan1RowSpan2}
		/>
	</div>
	<div class="col-span-4 row-span-1">
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="h-full"
			loading="eager"
			src={colSpan4RowSpan1}
		/>
	</div>
	<div class="col-span-8 row-span-1">
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			loading="eager"
			src={colSpan8RowSpan1Bottom}
		/>
	</div>
</>
