---
import labBook from "@/assets/lab-book.jpg";
import FormattedDate from "@/components/FormattedDate.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

async function getAllLabNotes() {
	const allLabNotes = await getCollection("labNotes");
	return allLabNotes;
}
const allLabNotes = await getAllLabNotes();

const dateTimeOptions: Intl.DateTimeFormatOptions = {
	month: "long",
};
---

<div class="h-full border-2 border-black/10">
	<div class="sticky left-0 top-0">
		<div class="relative border-b-2 border-black/10">
			<Image alt="A lab book" loading="eager" src={labBook} />
		</div>
	</div>
	<div class="flex overflow-y-scroll">
		<ul>
			{
				allLabNotes.map(async (note) => {
					const { Content } = await note.render();
					return (
						<li>
							<div class="flex flex-col">
								<div class="grid w-full grid-cols-3 gap-2">
									<div class="col-span-full grid grid-cols-3 gap-2">
										<div class="col-span-1 flex w-fit items-center rounded-br-lg border-[1px] border-black/10 bg-fgColour-default/20 px-2 py-1 pr-3">
											<span class="font-maisonNeueMono font-bold">{note.data.experiment}</span>
										</div>
										<div class="col-span-3">
											<div class="p-2">
												<div class="break-words">
													<h3>{note.data.title}</h3>
												</div>

												<p class="text-fgColour-muted/60">
													<FormattedDate
														date={note.data.publishDate}
														dateTimeOptions={dateTimeOptions}
													/>
												</p>
											</div>
										</div>
									</div>
									<div class="col-span-3 p-2">
										<div class="prose prose-kwicherbelliaken">
											<Content />
										</div>
									</div>
								</div>
							</div>
						</li>
					);
				})
			}
		</ul>
	</div>
</div>
